{% load staticfiles %}

<html lang="en">
<!-- PUBLISHED PREVIEW LINK: http://www.editey.com/preview/0ByGiJInvYYNTY2VCamdqYlZENTQ/index.html?email=rami15manna@gmail.com -->
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="{{STATIC_URL}}app/imgs/logo.png">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		{% block title %}
		Culture
		{% endblock %}
	</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans|Pacifico' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href='{{STATIC_URL}}app/css/style.css'>
	<!--<script src="javascript.js"></script>-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{{STATIC_URL}}app/js/jquery.js"></script>
	
</head>

<body>
<div id="big_wrapper">
	<nav id="top_menu">
			<a href="landingPage.html"><img id="logo" src="{{STATIC_URL}}app/imgs/notecloudlogo.png" height="34px"> <!--<div id="logotext" >otebook</div>--></a>
<!-- 			<span id="inner_menu">
			    <span id="t1div"><input id="t1" type="search" name="Search" placeholder="Search" onfocus="this.placeholder=''" onblur="this.placeholder='Search'"></span>
			    <a href="indexCalendar.php"><span id="t2">Calendar</span></a>
			    <a href="javascript:;"><span id="t3">Settings</span></a>
			</span> -->
            	<a><span id="t4">Sign in</span></a>
                <a><span id="tDROP"><img src="{{STATIC_URL}}app/imgs/menu.png"></span></a>
<!--                 <button id="yoni" onclick='toggleDropDown();'>hello</button>
 -->	</nav>
	<div id = "dropdownMenu">

	</div>
{% block rami %}
{% endblock %}
</div>

</body>
</html>
</body>