{% extends "app/base.html" %}

{%block title %} Home page {% endblock %}

{% block rami %}
	<div id="biggesthero">
		<div id="bighero">
			<div id="hero">
			    <div>
    			    <a href="#">
    			    	<div id="heading1div">
    				    	<img class="flags" src="{{STATIC_URL}}app/imgs/palestine.png" height="200px" width="338px">
				    	<div>
				    		<a href="javascript:;">
				    			<div class="button">Explore</div>
				    		</a>
				    	</div>
    				
    					</div>
    				</a>
    			</div>
			    <div>
    			    <a href="#">
    			    	<div id="heading1div">
    				    	<img class="flags" src="{{STATIC_URL}}app/imgs/israel.jpg" height="200px" width="338px">
				    	<div>
				    		<a href="javascript:;">
				    			<div class="button">Explore</div>
				    		</a>
				    	</div>
    				
    					</div>
    				</a>
    			</div>
		        
		    </div>
		</div>
	</div>
{% endblock %}