{% extends "app/base.html" %}

{%block title %} Home page {% endblock %}

{%block body %}

<!-- <p style="color:white; font-size:100px;">DUWEERRRAAA </p>
 -->
<link rel="stylesheet" type="text/css" href='{{STATIC_URL}}app/css/palestine.css'>
<div id = "gridcontainer">
 <div class = "categoryContainer">
 	<div>CATEGORY 1</div>
  	<div>CATEGORY 1</div>
 	<div>CATEGORY 2</div>
  	<div>CATEGORY 2</div>
 </div>
 <div class = "categoryContainer">
 	<div>CATEGORY 2</div>
  	<div>CATEGORY 2</div>
 	<div>CATEGORY 2</div>
  	<div>CATEGORY 2</div>
 </div>
 </div>
{% endblock %}