/*Culture project CSS*/
body {
	margin: 0;
	padding: 0;
	font-family: Arial;
    overflow: hidden;
}
.navbar{
	list-style-type: none;
	margin:0;
	background:rgba(0,0,0,0.7);
}
#nav_bg {
	background-color: rgba(0,0,0,0.1);
	height:50px;
}
#sign_in {
	float: right;
}
#sign_in:hover{
	background-color: rgba(0,0,0,0.5);
	-webkit-transition: all 1s ease-in-out;
  	-moz-transition: all 1s ease-in-out;
  	-o-transition: all 1s ease-in-out;
  	transition: all 1s ease-in-out;
}
li{
	display: inline-block;
}
#sign_in_box {
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 30px;
	vertical-align: middle;
	color:#ddd;
}
/*
#hero{
	position:absolute;
	left:50%;
	top:50%;
}
*/

body{
	height: 100%;
	background: url('../imgs/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#bighero{
    background:#333;
	background:rgba(51,51,51,0.825);/*-image:url("backgroundblur.jpg");*/
/*	box-shadow:inset 0 1px 1px 0 rgba(0,0,0,0.2);
*/
	/*2 lines: Make background STRETCH to fit div, maintains aspect ratio make sure to have set height*/
	background-size: cover;
	background-repeat:no-repeat;

    height:100vh;
    width:100%;
    display: -webkit-box;
    display: -moz-box;
    /*4 Warnings: OKAY*/
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /*align-items: center;*/ /*Vertical Align*/
}

#hero{
	/*PRE_FLEXBOX_CENTERING:
	position:relative;
	top:50%;
	transform: translateY(-50%);*/
    white-space:nowrap;
	height:100%;
	overflow:hidden;
	width:100%;

}

#hero > div{
	display:inline-block;
	width:50%;
}

#hero .button-login{
	height:52px;
	margin-top:18px;
	margin-bottom:18px;
}

#hero input{
	text-align:center;
}

.button-login::-webkit-input-placeholder {
	text-align: center;
	color:#666;
}


#hero, #gfb, #hero .button-login, #hero #SignInUp, #heading1div{
	/*NEW -NO-FLEXBOX- MAGIC CENTERING */
	display:block;
	margin-left:auto;
	margin-right:auto;
	max-width:99.9%;
	text-align: center;
}

#hero .button{
	display:inline-block;
	margin:auto;
	max-height:99.9%;
	text-align: center;	
}

#heading1div{
    height:auto;
    width:100%;
    margin-bottom:18px;
}

#flags{
	border-radius:10px;
}

#heading1{
	color:#399;
	font-size:45px;
	line-height:100px;
	height:100px;
	display:block;
	text-overflow:hidden;
    font-family:'Open Sans';
    position:relative;
    top:0;
    left:0;
    margin-left:0;
    padding-left:0;
}

#heading1div #headinglogo{
    min-width:100px;
    min-height:100px;
    display:inline-block;
    position:relative;
    top:10px; /*24px to level with logo*/
    left:0;
    margin-right:0;
    padding-right:0;
    border-radius:10px;
/*    box-shadow:0px 0px 5px 0 rgba(34,34,34,0.8);
*/}

#hero div #SignInUp span, #hero div #SignInUp a{
    font-family:'Open Sans';
    font-size:18px;
}

#hero div #SignInUp a{
    color:#ddd;
}

#hero div #SignInUp span{
    color:#399;
}

#hero div #SignInUp{
    margin-top:18px;
    margin-bottom:0;
}


#hero div, #hero form{
    padding:0;
}

#hero form{
	margin-top:18px;
}

#hero > div{
	/* /MAGIC CENTERING: /* /         , + max-height/width:50% on child depending on vertical or horizontal *OR JUST HEIGHT/WIDTH, no "max"**/
	position: relative;
	/*3 Warnings: OKAY*/
	top:50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
  	/*align-items: center;
  	justify-content: center;*/
}

#hero .button{
    margin-top:18px;
    margin-bottom:18px;
    border: 2px solid white;
    border-radius:3px;
    background:transparent;
    color:white;
    line-height: 35px;
    height:35px;
    width:80px;
}

#hero .button:hover{
	background:rgba(255,255,255,0.2);
}


#culture_categories{
	border-color: white;
	border-width: 2px;
	border-radius: 5px;
}

#cat_title{
	font-size: 30px;
	text-align: center;
}

/*form > #or{
    margin-top:5px;
    font-size:14px;
    text-decoration:underline;
    color:#ddd;
}

